<ol class="breadcrumb $ $">
    <li>
        <a href="$index.html$">
            $首页$
            <i class="icon-chevron-thin-right"></i>
        </a>
    </li>
    <li>
        <a href="$ $">
            $二级菜单$
            <i class="icon-chevron-thin-right"></i>
        </a>
    </li>
    <li>
        $当前位置$
    </li>
</ol>
