<div class="modal-background" tabindex="-1" role="dialog">
    <div class="modal-layer">
        <div class="modal-position">
            <div class="modal-wrap">
                <div class="modal-head">
                    $标题$
                    <button class="modal-close" title="关闭">
                        <i></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="$$">
                      $内容$
                    </div>
                    <div class="text-align-center margin-top-40px">
                        <div class="btn-with-viceLink text-align-center plural-btns">
                            <button type="button" class="btn primary">$primary$</button>
                            <button type="button" class="btn secondary">$secondary$</button>
                            <a href="$###$" data-dismiss="modal" class="btn-vicelink">$btn-vicelink$</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
