$
<div class="tables-title">
        $表格标题$
        <div class="table-title-btns">
            <a href="$$">$更多$</a>
        </div>
</div>
$
<div class="table-wrap">
    <table class="table{{#if className}} {{className}}{{/if}}">
        <colgroup>
            <col>
            <col>
            <col>
            $ $
        </colgroup>
        <thead>
            <tr>
                <th>
                    $标题$
                </th>
                <th>
                    $标题$
                </th>
                <th>
                    $标题$
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                $内容$
            </tr>
            <tr>
                $内容$
            </tr>
            <tr>
                $内容$
            </tr>
        </tbody>
    </table>
</div>
