<div class="form-control-dropdown active">
    <span class="form-control-dropdown-btn">
        <i></i>
    </span>
    {{#ifCond className '==' 'input'}}
    <input type="text" data-toggle="dropdown" class="form-control" id="$form-control-example8$" placeholder="$请输入文字$" value="">
    {{ else }}
    <div class="form-control-dropdown-value">
        <span class="bank-icon icon-cmb" title="招商银行"></span>
        <span class="form-control-bank-card">招商银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
    </div>
    {{/ifCond}}
    <ul class="form-control-dropdown-menu">
        <li title="option">
            <span class="bank-icon icon-cmb" title="招商银行"></span>
            <span class="form-control-bank-card">招商银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-icbc" title="工商银行"></span>
            <span class="form-control-bank-card">工商银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-ccb" title="建设银行"></span>
            <span class="form-control-bank-card">建设银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-abc" title="农业银行"></span>
            <span class="form-control-bank-card">农业银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-boc" title="中国银行"></span>
            <span class="form-control-bank-card">中国银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-comm" title="交通银行"></span>
            <span class="form-control-bank-card">交通银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-pingan" title="平安银行"></span>
            <span class="form-control-bank-card">平安银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-psbc" title="邮政银行"></span>
            <span class="form-control-bank-card">邮政银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-shbc" title="上海银行"></span>
            <span class="form-control-bank-card">上海银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-wzbc" title="温州银行"></span>
            <span class="form-control-bank-card">温州银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-spdb" title="浦发银行"></span>
            <span class="form-control-bank-card">浦发银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-ecitic" title="中信银行"></span>
            <span class="form-control-bank-card">中信银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-cgbchina" title="广发银行"></span>
            <span class="form-control-bank-card">广发银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-cmbc" title="民生银行"></span>
            <span class="form-control-bank-card">民生银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-cib" title="兴业银行"></span>
            <span class="form-control-bank-card">兴业银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-cebbank" title="光大银行"></span>
            <span class="form-control-bank-card">光大银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-srcb" title="上海农商银行"></span>
            <span class="form-control-bank-card">上海农商银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-bankofbeijing" title="北京银行"></span>
            <span class="form-control-bank-card">北京银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-bjrcb" title="北京农商银行"></span>
            <span class="form-control-bank-card">北京农商银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-szfz" title="深圳发展银行"></span>
            <span class="form-control-bank-card">深圳发展银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-nbcb" title="宁波银行"></span>
            <span class="form-control-bank-card">宁波银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-hzbank" title="杭州银行"></span>
            <span class="form-control-bank-card">杭州银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-dongguanbank" title="东莞银行"></span>
            <span class="form-control-bank-card">东莞银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-hsbc" title="汇丰银行"></span>
            <span class="form-control-bank-card">汇丰银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-hkbea" title="东亚银行"></span>
            <span class="form-control-bank-card">东亚银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-961111" title="广州农商银行"></span>
            <span class="form-control-bank-card">广州农商银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-hxb" title="华夏银行"></span>
            <span class="form-control-bank-card">华夏银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-crbank" title="华润银行"></span>
            <span class="form-control-bank-card">华润银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-lanzhou" title="兰州银行"></span>
            <span class="form-control-bank-card">兰州银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-hebbank" title="河北银行"></span>
            <span class="form-control-bank-card">河北银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-hsbank" title="微商银行"></span>
            <span class="form-control-bank-card">微商银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-qdccb" title="青岛银行"></span>
            <span class="form-control-bank-card">青岛银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-ydnsh" title="尧都农商"></span>
            <span class="form-control-bank-card">尧都农商&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-zheshang" title="浙商银行"></span>
            <span class="form-control-bank-card">浙商银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-nccbank" title="南昌银行"></span>
            <span class="form-control-bank-card">南昌银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-cbhb" title="渤海银行"></span>
            <span class="form-control-bank-card">渤海银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-egbank" title="恒丰银行"></span>
            <span class="form-control-bank-card">恒丰银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
        <li title="option">
            <span class="bank-icon icon-tianjinbank" title="天津银行"></span>
            <span class="form-control-bank-card">天津银行&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;尾号1234</span>
        </li>
    </ul>
</div>
