<div class="data-count-wrap$ $">
    <div>
        <ul class="date-count-ul">
            <li class="count-title">
                <h4>$当前数据统计$</h4>
                <span class="arrows-shadow"></span>
                <span class="arrows"></span>
            </li>
            <li>
                <h5>
                    <span>$总收入(元)$</span>
                    共&nbsp;$157$&nbsp;笔
                </h5>
                <h2>
                    $30,000.00$
                </h2>
            </li>
            <li class="last-li">
                <h5>
                    <span>$总支出(元)$</span>
                    共&nbsp;$2508$&nbsp;笔
                </h5>
                <h2>
                    $23,000.00$
                </h2>
            </li>
        </ul>
    </div>
</div>
