<nav class="main-nav-wrap$ $">
    <ul class="main-nav">
        <li class="current">
            <a href="$###$">
                $账户总览$
            </a>
        </li>
        <li>
            <a href="$###$">
                $账单明细$
            </a>
        </li>
        <li>
            <a href="$###$">
                $账户管理$
            </a>
        </li>
        <li>
            <a href="$###$">
                $服务台$
            </a>
        </li>
    </ul>
</nav>
