<div class="ebank-wrap"$ $>
    <ul class="ebanks" data-toggle="switcher">
        <li class="" title="招商银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-cmb"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="工商银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-icbc"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="建设银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-ccb"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="农业银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-abc"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="中国银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-boc"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="交通银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-comm"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="平安银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-pingan"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="中国邮政储蓄银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-psbc"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="上海银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-shbc"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="温州银行" class="">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-wzbc"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="浦发银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-spdb"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="中信银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-ecitic"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="广发银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-cgbchina"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="民生银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-cmbc"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="兴业银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-cib"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="光大银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-cebbank"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="上海农商银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-srcb"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="北京银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-bankofbeijing"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="北京农商银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-bjrcb"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="深圳发展银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-szfz"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="宁波银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-nbcb"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="杭州银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-hzbank"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="东莞银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-dongguanbank"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="汇丰银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-hsbc"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="东亚银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-hkbea"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="广州农商银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-961111"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="华夏银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-hxb"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="华润银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-crbank"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="兰州银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-lanzhou"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="河北银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-hebbank"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="微商银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-hsbank"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="青岛银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-qdccb"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="尧都农商">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-ydnsh"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="浙商银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-zheshang"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="南昌银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-nccbank"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="渤海银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-cbhb"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="恒丰银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-egbank"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li title="天津银行">
            <label class="ebank-label">
                <i></i>
                <span class="etag">企业</span>
                <span class="bank-bg bank-tianjinbank"></span>
                <input type="radio" style="display: none;" name="ebank">
            </label>
        </li>
        <li class="">
            <label class="more-ebank">
                查看更多
            </label>
        </li>
    </ul>
</div>
