<div class="bankcard-list-wrap$ $">
    <ul class="bankcard-list">
        <li class="work">
            <div class="bank-box">
                <div class="bank-icon icon-icbc"></div>
                工商银行
            </div>
            <h3>
                **********6877
            </h3>
            <span class="work-tag">
                已验证
            </span>
            <div class="notwork-tag">
                审核不通过
                <a href="###" class="bank-card-btn">
                    重新绑定
                </a>
            </div>
            <div class="waiting-tag">
                审核中
            </div>
        </li>
        <li class="notwork">
            <div class="bank-box">
                <div class="bank-icon icon-cib"></div>
                工商银行
            </div>
            <h3>
                **********6877
            </h3>
            <span class="work-tag">
                已验证
            </span>
            <div class="notwork-tag">
                审核不通过
                <a href="###" class="bank-card-btn">
                    重新绑定
                </a>
            </div>
            <div class="waiting-tag">
                审核中
            </div>
        </li>
        <li class="notwork">
            <div class="bank-box">
                <div class="bank-icon icon-bcm"></div>
                工商银行
            </div>
            <h3>
                **********6877
            </h3>
            <span class="work-tag">
                已验证
            </span>
            <div class="notwork-tag">
                审核不通过
                <a href="###" class="bank-card-btn">
                    重新绑定
                </a>
            </div>
            <div class="waiting-tag">
                审核中
            </div>
        </li>
        <li class="waiting">
            <div class="bank-box">
                <div class="bank-icon icon-pingan"></div>
                工商银行
            </div>
            <h3>
                **********6877
            </h3>
            <span class="work-tag">
                已验证
            </span>
            <div class="notwork-tag">
                审核不通过
                <a href="###" class="bank-card-btn">
                    重新绑定
                </a>
            </div>
            <div class="waiting-tag">
                审核中
            </div>
        </li>
        <li class="add-card">
            <a href="###" class="link-standard">
                +&nbsp;添加银行卡
            </a>
        </li>
    </ul>
</div>
