<div class="password-status-wrap">
    <table class="password-status-table">
        <colgroup>
            <col style="width: 92px;">
            <col style="width: 92px;">
            <col>
            <col style="width: 60px;">
        </colgroup>
        <tbody>
            <tr>
                <td>
                    <span class="password-status-label $done$">
                        <b></b>
                        $已设置$
                    </span>
                </td>
                <td>
                    <strong>$支付密码$</strong>
                </td>
                <td class="viceText-FontColor">
                    $用于付款或修改账户信息时，保护账户资金安全$
                </td>
                <td class="text-align-right">
                    <a href="$###$" class="link-standard">$重置$</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="password-status-label $notdone$">
                        <b></b>
                        $未设置$
                    </span>
                </td>
                <td>
                    <strong>$支付密码$</strong>
                </td>
                <td class="viceText-FontColor">
                    $用于付款或修改账户信息时，保护账户资金安全$
                </td>
                <td class="text-align-right">
                    <a href="$###$" class="link-standard">$重置$</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
