{{#unless className}}
<input type="text" class="form-control{{#if sizes}} {{sizes}}{{/if}}" placeholder="$表单提示语$">
{{/unless}}

{{#ifCond className '==' 'smallsize'}}
<input type="text" class="form-control{{#if className}} {{className}}{{/if}}" placeholder="$表单提示语$">
{{/ifCond}}

{{#ifCond className '==' 'date'}}
<div class="form-control-date{{#if sizes}} {{sizes}}{{/if}}">
    <span class="form-control-date-btn">
        <i></i>
    </span>
    <input class="form-control" type="text" value="$2015-05-17$" data-toggle="datetimepicker" readonly="readonly">
</div>
{{/ifCond}}

{{#ifCond className '==' 'modal'}}
<div class="form-control-modal{{#if sizes}} {{sizes}}{{/if}}">
    <span class="form-control-modal-btn">
        <i></i>
    </span>
    <div class="form-control-modal-value">
        $点击我会弹出一个窗口$
    </div>
</div>
{{/ifCond}}

{{#ifCond className '==' 'verify'}}
<div class="form-control-verify">
    <input type="text" class="form-control" id="$form-control-verify1$">
    <button class="btn form-control-verify-btn">$获取验证码$</button>
</div>
{{/ifCond}}

{{#ifCond className '==' 'draw'}}
<div class="form-control-withdrawFull">
    <input type="text" class="form-control" id="$form-control-withdrawFull$">
    <button class="btn form-control-withdrawFull-btn">$全部提取$</button>
</div>
{{/ifCond}}
