<div class="steps-wrap {{# if className}} {{className}}{{/if}}">
    <div class="steps-box">
        <div class="step-bars">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <div class="bar4"></div>
        </div>
        <span class="step step1">1</span>
        <span class="step step2">2</span>
        <span class="step step3">3</span>
        <p class="step-title title1">$step one$</p>
        <p class="step-title title2">$step two$</p>
        <p class="step-title title3">$step three$</p>
    </div>
</div>
