<div class="fliter-inline-wrap">
    <span class="lt">
        $起止时间$
    </span>
    <div class="fliter-inline-width1">
        <div class="form-control-date smallsize">
            <span class="form-control-date-btn">
                <i></i>
            </span>
            <div class="form-control-date-value">
                $xxxx-xx-xx$
            </div>
        </div>
    </div>
    <span class="fliter-inline-bar">
        --
    </span>
    <div class="fliter-inline-width1">
        <div class="form-control-date smallsize">
            <span class="form-control-date-btn">
                <i></i>
            </span>
            <div class="form-control-date-value">
                $xxxx-xx-xx$
            </div>
        </div>
    </div>
    <div class="fliter-inline-width1">
        <input type="text" class="form-control smallsize" placeholder="$key word$">
    </div>
    <button type="submit" class="btn primary small-btn">
        $搜索$
    </button>
</div>
